name: Continuous Deployment to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  index:
    name: Deploy index
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: decrypt
        env:
          INDEX_ED25519: ${{ secrets.INDEX_ED25519 }}
        run: |
          mkdir ~/.ssh && chmod 700 ~/.ssh
          echo "$INDEX_ED25519" > ~/.ssh/index_ed25519
          chmod 600 ~/.ssh/index_ed25519
          cat > ~/.ssh/config <<EOF
          Host hyperscalar.github.io
              HostName github.com
              Port 22
              User git
              IdentityFile ~/.ssh/index_ed25519
          EOF
          chmod 644 ~/.ssh/config

      - name: config
        run: |
          export TZ=Asia/Shanghai
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git config --global core.quotepath off

      - name: clone
        uses: actions/checkout@v5

      - name: status
        run: git status

      - name: pull
        run: |
          git remote add index git@hyperscalar.github.io:hyperscalar/hyperscalar.github.io.git
          git subtree add --prefix=index/public index master --squash

      - name: generate
        run: |
          cd index
          rm -rf public
          cp -r source public
          cd ..

      - name: push
        run: |
          git add -f index/public
          git commit --allow-empty -m "Deployed by GitHub Actions"
          git subtree split --prefix=index/public --branch index
          git subtree push --prefix=index/public index master

  en:
    name: Deploy en
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: decrypt
        env:
          EN_ED25519: ${{ secrets.EN_ED25519 }}
        run: |
          mkdir ~/.ssh && chmod 700 ~/.ssh
          echo "$EN_ED25519" > ~/.ssh/en_ed25519
          chmod 600 ~/.ssh/en_ed25519
          cat > ~/.ssh/config <<EOF
          Host en.hyperscalar.github.io
              HostName github.com
              Port 22
              User git
              IdentityFile ~/.ssh/en_ed25519
          EOF
          chmod 644 ~/.ssh/config

      - name: config
        run: |
          export TZ=Asia/Shanghai
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git config --global core.quotepath off

      - name: clone
        uses: actions/checkout@v5

      - name: status
        run: git status

      - name: pull
        run: |
          git remote add en git@en.hyperscalar.github.io:hyperscalar/en.git
          git subtree add --prefix=en/public en master --squash

      - name: setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 'latest'
          run_install: false

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          check-latest: true
          cache: 'pnpm'
          cache-dependency-path: 'en/pnpm-lock.yaml'

      - name: install
        run: npm install -g npm@latest

      - name: generate
        run: |
          cd en
          pnpm install
          pnpm run clean
          pnpm run build
          cd ..

      - name: push
        run: |
          git add -f en/public
          git commit --allow-empty -m "Deployed by GitHub Actions"
          git subtree split --prefix=en/public --branch en
          git subtree push --prefix=en/public en master

  zh:
    name: Deploy zh
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: decrypt
        env:
          ZH_ED25519: ${{ secrets.ZH_ED25519 }}
        run: |
          mkdir ~/.ssh && chmod 700 ~/.ssh
          echo "$ZH_ED25519" > ~/.ssh/zh_ed25519
          chmod 600 ~/.ssh/zh_ed25519
          cat > ~/.ssh/config <<EOF
          Host zh.hyperscalar.github.io
              HostName github.com
              Port 22
              User git
              IdentityFile ~/.ssh/zh_ed25519
          EOF
          chmod 644 ~/.ssh/config

      - name: config
        run: |
          export TZ=Asia/Shanghai
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git config --global core.quotepath off

      - name: clone
        uses: actions/checkout@v5

      - name: status
        run: git status

      - name: pull
        run: |
          git remote add zh git@zh.hyperscalar.github.io:hyperscalar/zh.git
          git subtree add --prefix=zh/public zh master --squash

      - name: setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 'latest'
          run_install: false

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          check-latest: true
          cache: 'pnpm'
          cache-dependency-path: 'zh/pnpm-lock.yaml'

      - name: install
        run: npm install -g npm@latest

      - name: generate
        run: |
          cd zh
          pnpm install
          pnpm run clean
          pnpm run build
          cd ..

      - name: push
        run: |
          git add -f zh/public
          git commit --allow-empty -m "Deployed by GitHub Actions"
          git subtree split --prefix=zh/public --branch zh
          git subtree push --prefix=zh/public zh master
